<div class="container">
    <div class="row">
      <div class="create-community-container">
        <form class="post-form" [formGroup]="createCommunityForm" (ngSubmit)="createCommunity()">
          <div class="form-group">
            <div class="create-community-heading">Create Community</div>
          <div>
            <input type="text" [formControlName]="'name'" class="form-control" style="margin-top: 5px" name="name"
              placeholder="Name">
              <small class="text-danger" 
              *ngIf="createCommunityForm.get('name')?.touched && createCommunityForm.get('name')?.errors?.required">
              Name is required.</small>
              <small class="text-danger" 
              *ngIf="createCommunityForm.get('name')?.touched && createCommunityForm.get('name')?.errors?.minlength">
              Your username must contain min 3 characters.</small>

          </div>
            <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px"
              placeholder="Description"></textarea>
              <small class="text-danger" 
              *ngIf="createCommunityForm.get('description')?.touched && createCommunityForm.get('description')?.errors?.required">
              Description is required.</small>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="cancel()" class="btnCancel">Cancel</button>
                <button class="btnSuccess">Create</button>
              </div>
            </div>
            
          </div>
        </form>
      </div>
    </div>
    
  </div>
