<div class="container">
    <div class="row">
      <div class="create-subreddit-container">
        <form class="post-form" [formGroup]="createCommunityForm" (ngSubmit)="createCommunity()">
          <div class="form-group">
            <div class="create-subreddit-heading">Create Community</div>
            <hr />
            <input type="text" [formControlName]="'name'" class="form-control" style="margin-top: 5px"
              placeholder="Name">
            <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px"
              placeholder="Description"></textarea>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="cancel()" class="btnCancel">Cancel</button>
                <button class="btnSuccess">Create</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>