<div class="container" id="main-container">
    <div class="row">
      <div *ngFor="let user of user" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6 card-title align-self-center mb-0">
                  <h5>{{user?.username}}</h5>
                  <p class="m-0">{{user?.password}}</p>
               </div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{user?.email}}</li>
               <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{user?.displayName}}</li>
            </ul>

         </div>
      </div>
    </div>