<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../assets/pictures/reg.png" 
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign up</h1>

            
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Username </label>
              <input type="text" [formControlName]="'username'"class="form-control" id="username" name="username"
                placeholder="Enter a valid username"/>
                <small class="text-danger" 
                *ngIf="signupForm.get('username')?.touched && signupForm.get('username')?.errors?.required">
                Name is required.</small>
                <small class="text-danger" 
                *ngIf="signupForm.get('username')?.touched && signupForm.get('username')?.errors?.minlength">
                Your username must contain min 3 characters.</small>
            </div>
            
            <div class="yhhh">
              <label class="form-label" for="email_address">Email address</label>
              
              <input type="text" [formControlName]="'email'" id="email_address" class="form-control" name="email-address" formControlName="email"
            
                placeholder="Enter a valid email address"/>
                <small class="text-danger" 
                *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors?.required">
                Username is required.</small>
                <small class="text-danger" *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors?.pattern">
                 Wrong pattern. </small>
            </div>
            
  
            
            <div class="form-outline mb-3">
              <label class="form-label" for="password">Password</label>
              <input type="password" [formControlName]="'password'" id="password" class="form-control" name="password" required
                placeholder="Enter password" /> 
                <small class="text-danger" 
                *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.required">
                Password is required.</small>
                <small class="text-danger" 
                *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.pattern">
                Password must contain letters, numbers and special character.</small>
                
            </div>
            <div class="form-group row float-right">
              <div class="col-12">
                <button class="btn btn-primary " type="submit">Submit</button>
              </div>
            </div>
          
  
            <span class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Continue</button>
              <p class="small mb-5 pb-lg-2">Already a redditor? <a [routerLink]="['/login']"
                  class="link-danger">LOG IN</a></p>
                </span>
  
          </form>
        </div>
      </div>
    </div>

  </section>