<div class="container">
    <div class="row">
      <div class="create-community-container">
        <form class="post-form" (ngSubmit)="onSubmit()" #communityForm="ngForm" novalidate>
          <div class="form-group">
            <div class="create-community-heading">Create Post</div>
          <div>
            <input type="text" class="form-control" #title = "ngModel" id="title" [(ngModel)] = "post.title" name="title">
            <small *ngIf="title.touched && title.errors?.required" class="text-danger">
              Name is required</small>
            <small *ngIf="title.touched && title.errors?.minlength" class="text-danger">
              Name must be at least five characters long</small>
      

          </div>
            <textarea type="text" class="form-control"  id="text" [(ngModel)] = "post.text" name="text"  style="width: 100%; margin-top: 5px"
              placeholder="Text"></textarea>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="cancel()" class="btnCancel">Cancel</button>
                <button class="btnSuccess" type="submit" [disabled]="communityForm.form.invalid">Create</button>
              </div>
            </div>
            
          </div>
        </form>
      </div>
    </div>
    
  </div>
