<div class="row post" *ngFor="let post of posts">

  <div class="card">
  </div>
  <div class="p-2">

</div>

    <button (click)="downvote(post.id)">Vote Down</button>
    <p>{{post.karma}}</p>
    <button (click)="upvote(post.id)">Vote up</button>

    <div class="card-body">
        <div class="small text-muted">January 1, 2022</div>
        <h2 class="card-title h4">{{post.title}}</h2>
        <p class="card-text">{{post.text}}</p>

    </div>
    <button (click)="deletePost(post.id)">remove</button>

  
</div>

