<div class="row post" *ngFor="let post of posts">

  <div class="card">
  </div>
  <div class="p-2">

</div>

    <!-- <button (click)="downvote(post.id)">Vote Down</button> -->
    <fa-icon (click)="downvote(post.id)" [icon]="faArrowUp"  class="downvote" [style.color]="upvoteColor" >
      <!-- [style.color]="post.upVote ? 'green':''" -->
  </fa-icon>
    <p>{{post.karma}}</p>
      <fa-icon (click)="upvote(post.id)" [icon]="faArrowDown"  class="upvote" [style.color]="downvoteColor">
        <!-- [style.color]="post.downVote ? 'red':''" -->
    </fa-icon>
    <!-- <button (click)="upvote(post.id)">Vote up</button> -->

    <div class="card-body">
        <div class="small text-muted">January 1, 2022</div>
        <h2 class="card-title h4">{{post.title}}</h2>
        <p class="card-text">{{post.text}}</p>

    </div>
    <button (click)="deletePost(post.id)">remove</button>
    <button (click)="editPost(post.id)">Update</button>

</div>

